swagger: "2.0"
info:
  title: Feeta api
  version: 1.0
  contact:
    email: himanshurawat@thelattice.in
  server:
    url: "http://139.59.84.213:3000"
    description: "DEVELOPMENT SERVER"
    url: ""
    description: "PRODUCTION SERVER"

schemes: [http, https]

# securityDefinitions:
  # BasicAuth:
  #   type: basic
  # JWT:
  #   description:
  #   type: apiKey
  #   name: Authorization
  #   in: header

#host: localhost:3000
host: feeta.thelattice.org
basePath: /api
paths:
  
  /register-snapshot: 
    post:
      summary: create snapshot
      produces:
        - application/json
      consumes:
        - application/json
      parameters: 
        - in: body
          name: snapshot
          schema:
            type: object
            properties:
              snapshot_date: 
                type: string
              snapshot_url:
                type: string
              
        
      responses:
        201:
          description: project snapshot created
          schema:
            type: object
            properties: 
              status: 
                type: integer
              project_id:
                type: string
              snapshot_date:
                type: string
              snapshot_url:
                type: string
              message:
                type: string

        400:
          description: validation error
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
        500:
          description: Internal server error
          schema:
            type: object
            properties: 
              status: 
                type: integer
              message:
                type: string

  /all-projects:
    get:
      summary: get all projects
      responses:
        200:
          schema:
            type: object
            properties:
              status:
                type: integer
              projects:
                type: array
                items: 
                  type: object
                  properties: 
                    project_name:
                      type: string
                    project_uid: 
                      type: string
        404:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
        500:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
  /snapshot-dates/{project_id}:
    get:
      summary: return snapshot dates
      description: returns all the snapshot dates of the project
      parameters:
        - in: path
          name: project_id
          schema:
            type: string
          required: true
          description: The project id whos details are needed to be fetched 
      responses:
        200:
          schema: 
            type: object
            properties:
              status:
                type: integer
              snapshot_dates:
                type: array
                items: 
                  type: object
                  properties: 
                    snapshot_date:
                      type: string
                   
        400:
          description: Bad request. project id required
          schema:
            type: object
            properties: 
              status: 
                type: integer
              message:
                type: string
        500:
          description: Internal server error
          schema:
            type: object
            properties: 
              status: 
                type: integer
              message:
                type: string
  /task-contributors:
    get:
      summary: get all contributors
      responses:
        200:
          schema:
            type: object
            properties:
              status:
                type: integer
              contributors:
                type: array
                items: 
                  type: object
                  properties: 
                    user_name:
                      type: string
                    user_id: 
                      type: string
        404:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
        500:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
  /project-summary:
    get:
      summary: return project summary
      description: This provides various details about project
      parameters:
        - in: query
          name: project_id
          type: string
          description: project id of the
        - in: query
          name: snapshot_date
          type: string
          description: snapshot date of project
        - in: query
          name: compare_to
          type: string
          description: snapshot date of previous project
      responses:
        200:
          schema:
            type: object
            properties:
              status:
                type: integer
              progress:
                type: integer
              timeElapsed:
                type: integer
              bufferUsed: 
                type: integer
              expected_end:
                type: object
                properties:
                  days_left: 
                    type: integer
                  end_date:
                    type: string
              project_id:
                type: string     
              snapshot_date:
                type: string
              compare_to:
                type: string
              del_goalEnd:
                type: integer
              delNextMilestone:
                type: integer
              delBufferLastWeek:
                type: integer
              delTotalRework:
                type: integer
              delReworkLastWeek:
                type: integer
              milestone_task:
                type: array
                items: 
                  type: object
                  properties: 
                    id:
                      type: number
                    name:
                      type: string
                    deadline: 
                      type: string
                    delayed_status:
                      type: string
              overdue_tasks_data:
                type: array
                items: 
                  type: object
                  properties: 
                    id:
                      type: number
                    delay_days:
                      type: string
                    task_name: 
                      type: string
                    deadline:
                      type: string
                    assigned_to:
                      typee: array
        404:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
        500:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
  /task-details:
    get:
      summary: return project task details
      description: This provides various details about tasks
      parameters:
        - in: query
          name: project_id
          type: string
          description: project id of the
        - in: query
          name: snapshot_date
          type: string
          description: snapshot date of project
      responses:
        200:
          schema:
            type: object
            properties:
              status:
                type: integer
              task_details:
                type: array
                items: 
                  type: object
                  properties: 
                    task_id:
                      type: number
                    uid:
                      type: string
                    task_title:
                      type: string
                    assignees: 
                      type: array
                      items:
                        type: string
                    start_date:
                      type: string
                    end_date:
                      type: string
                    task_type:
                      type: string
                    assignee_names:
                      type: string
        404:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
        500:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
  /contributor-data:
    get:
      summary: return project contributor data and compare
      description: This provides various details about project contributors
      parameters:
        - in: query
          name: project_id
          type: string
          description: project id of the
        - in: query
          name: contributor_id
          type: string
          description: uid of contributor or assignee
        - in: query
          name: snapshot_date
          type: string
          description: snapshot date of project
          name: snapshot_data
        - in: query
          type: string
          description: snapshot date of previous project
          name: compare_to
      responses:
        200:
          schema:
            type: object
            properties:
              status:
                type: integer
              complianceScore:
                type: integer
              productivityScore:
                type: integer
              timelinessScore: 
                type: integer
              contributorData:
                type: array
                items: 
                  type: object
                  properties: 
                    project_name:
                      type: string
                    name:
                      type: string
                    project_uid: 
                      type: string
                    uid:
                      type: string
                    task_title:
                      type: string
                    start_date:
                      type: string
                    end_date:
                      type: string
                    task_type:
                      type: string
                    progress:
                      type: integer
                    user_name:
                      type: string
                    task_status:
                      type: string
        404:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
        500:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
  /performance:
    get:
      summary: timeliness metric
      description: calculates the performance of a contributor
      parameters:
        - in: query
          name: project_id
          type: string
          description: project id of the
        - in: query
          name: snapshot_date
          type: string
          description: snapshot date of project
        - in: query
          name: baseline_date
          type: string
          description: baseline date of project snapshot
      responses:
        200:
          schema:
            type: object
            properties:
              status:
                type: integer
              complianceScore:
                type: integer
              productivityScore:
                type: integer
              timelinessScore: 
                type: integer
              contributorData:
                type: array
                items: 
                  type: object
                  properties: 
                    project_name:
                      type: string
                    name:
                      type: string
                    project_uid: 
                      type: string
                    uid:
                      type: string
                    task_title:
                      type: string
                    start_date:
                      type: string
                    end_date:
                      type: string
                    task_type:
                      type: string
                    progress:
                      type: integer
                    user_name:
                      type: string
                    task_status:
                      type: string
        404:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
        500:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
  /add-note: 
    post:
      summary: add notes
      produces:
        - application/json
      consumes:
        - application/json
      parameters: 
        - in: body
          name: notes
          schema:
            type: object
            properties:
              project_id:
                type: string
              note: 
                type: string
              
              
        
      responses:
        201:
          description: project snapshot created
          schema:
            type: object
            properties: 
              status: 
                type: integer
              message:
                type: string

        400:
          description: validation error
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
        500:
          description: Internal server error
          schema:
            type: object
            properties: 
              status: 
                type: integer
              message:
                type: string
  /get-notes/{id}:
    get:
      summary: return project notes
      # description: This provides various details about the hospital like patient and psychologist details in particular hospital. Use hospitalid as 3 for testing purpose
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The project id whos details are needed to be fetched 
      responses:
        200:
          description: notes
          schema: 
            type: object
            properties:
              status:
                type: integer
              notes:
                type: array
                items: 
                  type: object
                  properties: 
                    project_id:
                      type: string
                    note:
                      type: string
                    date_created: 
                      type: string
        400:
          description: Bad request. project id required
          schema:
            type: object
            properties: 
              status: 
                type: integer
              message:
                type: string
        500:
          description: Internal server error
          schema:
            type: object
            properties: 
              status: 
                type: integer
              message:
                type: string

  /latest-project-summary:
    get:
      summary: return latest snapshot project summary
      description: This provides various details about project
      parameters:
        - in: query
          name: project_id
          type: string
          description: project id of the
      responses:
        200:
          schema:
            type: object
            properties:
              status:
                type: integer
              progress:
                type: integer
              timeElapsed:
                type: integer
              bufferUsed: 
                type: integer
              expected_end:
                type: object
                properties:
                  days_left: 
                    type: integer
                  end_date:
                    type: string
              project_id:
                type: string     
              snapshot_date:
                type: string
              compare_to:
                type: string
              del_goalEnd:
                type: integer
              delNextMilestone:
                type: integer
              delBufferLastWeek:
                type: integer
              delTotalRework:
                type: integer
              delReworkLastWeek:
                type: integer
              milestone_task:
                type: array
                items: 
                  type: object
                  properties: 
                    id:
                      type: number
                    name:
                      type: string
                    deadline: 
                      type: string
                    delayed_status:
                      type: string
              overdue_tasks_data:
                type: array
                items: 
                  type: object
                  properties: 
                    id:
                      type: number
                    delay_days:
                      type: string
                    task_name: 
                      type: string
                    deadline:
                      type: string
                    assigned_to:
                      typee: array
        404:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string
        500:
          schema:
            type: object
            properties:
              status:
                type: integer
              message:
                type: string

  /snapshot:
    delete:
      summary: delete  snapshot
      description: delete snapshot shot given project ID and snapshot date
      parameters:
        - in: query
          name: project_id
          required: true
          type: string
          description: project id of the
        - in: query
          name: snapshot_date
          required: true
          type: string
          description: snapshot date of project
      responses:
        200: 
          description: successfull response
          schema: 
            type: string
  /buffer:
    post:
      summary: add buffer to a project
      description: add buffer to a project, buffer will be added to a project only once and will be valid for every snapshot of a project.
      parameters:
        - in: query
          name: project_id
          required: true
          type: string
          description: project id of the
        - in: query
          name: techDifficulty
          required: true
          type: string
          enum: ["low", "medium", "high"] 
          description: What is the technical difficulty of the project?
        - in: query  
          name: taskInterdpd
          required : true
          type: string
          enum: ["low", "medium", "high"]
          description: What is the level of task interdependence in the project?
      responses:
        200: 
          description: successfull response
          schema: 
            type: string          

  /progress/durationBased:
    get:
      summary: find progress based on duration
      description: find progress of a project based on task durations
      tags:
        - test
      parameters:
        - in: query
          name: project_id
          required: true
          type: string
          description: project id of the
        - in: query
          name: snapshot_date
          required: true
          type: string
          description: snapshot date of project
      responses:
        200: 
          description: successfull response
          schema: 
            type: string

  /progress/effortBased:
    get:
      summary: find progress based on duration
      description: find progress of a project based on task durations
      tags:
        - test
      parameters:
        - in: query
          name: project_id
          required: true
          type: string
          description: project id of the
        - in: query
          name: snapshot_date
          required: true
          type: string
          description: snapshot date of project
      responses:
        200: 
          description: successfull response
          schema: 
            type: string